<figure>
  <div class="container">
    <div class="row">
      <div class="col-1">
        <div class="y-axis">
          <h3>Y-Axis Title</h3>
        </div>
      </div>
      <!--Y axis-->

      <div class="graphic col-11">

        <div class="row">
          <h6>Bar One</h6>
          <div class="chart">
            <span class="block" title="Category A" ngbTooltip="Category A" (mouseenter)="expand($event)">
              <span class="value">57%</span>
            </span>
            <span class="block" title="Category B" ngbTooltip="Category B">
              <span class="value">13%</span>
            </span>
            <span class="block" title="Category C" ngbTooltip="Category C">
              <span class="value">8%</span>
            </span>
            <span class="block" title="Category D" ngbTooltip="Category D">
              <span class="value">2%</span>
            </span>
            <span class="block" title="Category E" ngbTooltip="Category E">
              <span class="value">17%</span>
            </span>
            <span class="block" title="Category F" ngbTooltip="Category F">
              <span class="value">3%</span>
            </span>
          </div>
        </div>

        <div class="row">
          <h6>Bar Two</h6>
          <div class="chart">
            <span class="block" title="Category A">
              <span class="value">29%</span>
            </span>
            <span class="block" title="Category B">
              <span class="value">21%</span>
            </span>
            <span class="block" title="Category C">
              <span class="value">19%</span>
            </span>
            <span class="block" title="Category D">
              <span class="value">6%</span>
            </span>
            <span class="block" title="Category E">
              <span class="value">19%</span>
            </span>
            <span class="block" title="Category F">
              <span class="value">6%</span>
            </span>
          </div>
        </div>

        <div class="row">
          <h6>Bar Three</h6>
          <div class="chart">
            <span class="block" title="Category A">
              <span class="value">8%</span>
            </span>
            <span class="block" title="Category B">
              <span class="value">11%</span>
            </span>
            <span class="block" title="Category C">
              <span class="value">34%</span>
            </span>
            <span class="block" title="Category D">
              <span class="value">2%</span>
            </span>
            <span class="block" title="Category E">
              <span class="value">32%</span>
            </span>
            <span class="block" title="Category F">
              <span class="value">13%</span>
            </span>
          </div>
        </div>

      </div>
      <!--X axis-->
      <div class="x-axis">
        <h3>X-Axis Title</h3>
        <ul class="legend">
          <li>Category A</li>
          <li>Category B</li>
          <li>Category C</li>
          <li>Category D</li>
          <li>Category E</li>
          <li>Category F</li>
        </ul>
      </div>
    </div>
  </div>





</figure>
